
.side-bar {
    background-color: #161E2D;
    width: 280px;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    color: white;
}

.side-bar-content {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 1rem;
}

.logo {
    height: 130px;
    background-color: rgba(255, 255, 255, 0.1);
    margin-bottom: 1rem;
}

.profile {
    height: 130px;
    background-color: rgba(255, 255, 255, 0.1);
    margin-bottom: 1rem;
}

.menu {
    flex-grow: 1;
    background-color: rgba(255, 255, 255, 0.1);
}
