.container {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 500px;
    background-color: white;
    /*padding-bottom: 30px;*/
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    border-radius: 14px;
    margin-top: 50px;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 9px;
    width: 100%;
    margin-top: 30px;
}

.text {
    color: #007bff;;
    font-size: 42px;
    font-weight: 600;
}

.underline {
    width: 61px;
    height: 6px;
    background-color: #007bff;
    border-radius: 9px;
}

.inputs {
    margin-top: 55px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.input {
    display: flex;
    align-items: center;
    margin: auto;
    width: 480px;
    height: 60px;
    background: #eaeaea;
    border-radius: 40px;
    transition: ease 0.1s;
}

.input:focus-within {
    border: 1px #0654a6 solid;
}

.input img {
    margin: 0px 30px;
}

.input input {
    height: 50px;
    width: 400px;
    background: transparent;
    outline: none;
    border: none;
    color: #797979;
    font-size: 19px;
}

.input input::placeholder {
    font-size: small;
}

.forgot-password {
    margin-left: 125px;
    margin-top: 18px;
    color: black;
    font-size: 16px;
    font-family: "Mona Sans", sans-serif;
    transition: ease-in-out 0.1s;
}

.forgot-password:hover {
    color: #0654a6;
}

.forgot-password span {
    color: #0654a6;
    cursor: pointer;
}

.submit-container {
    display: flex;
    gap: 30px;
    margin: 60px auto;
}

/*.submit{*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*    width: 220px;*/
/*    height: 59px;*/
/*    color: #fff;*/
/*    background: #0654a6;*/
/*    border-radius: 50px;*/
/*    font-size: 19px;*/
/*    font-weight: 700;*/
/*    cursor: pointer;*/
/*}*/

/*.gray{*/
/*    background: #EAEAEA;*/
/*    color: #676767;*/
/*}*/
.already {
    font-size: 1pc;
    font-family: "Mona Sans", sans-serif;
    color: #222222;
    margin: 1pc 0 0 7.6pc;
}

.buttons {
    background-color: #007bff;
    width: 380px;
    height: 3.5pc;
    margin-left: 3.7pc;
    margin-top: 1pc;
    border-radius: 2pc;
    outline: none;
    border: none;
}
.buttons:disabled{
    background-color: gray;
}

.sign {
    margin-top: -5.2pc;
    margin-left: 12pc;
    transition: ease-in-out 0.1s;
    cursor: pointer;
    color: #1563DF;
}

.sign:hover {
    text-decoration: underline;

}

.login {
    margin-top: -5.2pc;
    margin-left: 12pc;
    color: #007bff;
    transition: ease-in-out 0.1s;
    cursor: pointer;
}

.login:hover {
    text-decoration: underline;
}

.p-error {
    margin-top: 1pc;
    margin-left: 3.5pc;
    font-size: 15px;
    font-family: "Mona Sans", sans-serif;
    color: #fb6363;
}

.p-success {
    margin-top: 1pc;
    margin-left: 9.5pc;
    font-size: 15px;
    font-family: "Mona Sans", sans-serif;
    color: #12d812;
}





.error-text {
    color: #fb6363;
    font-size: 9px;
    margin-top: 5px;
    margin-left: -150px;
}









