* {
    padding: 0;
    margin: 0;
}

.landing-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 102vh;
    position: relative;
    background: rgba(0, 0, 0, 0.4);


}

.landing-img img {
    width: 100%;
    height: 980px;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    background-size: cover;
    background-repeat: no-repeat;

}

.landing-content {
    position: relative;
    align-items: center;
    justify-content: center;
    width: 1080px;
    height: 610px;
    margin-top: 229px;
    z-index: 10;
}

span {
    font-family: "Mona Sans", sans-serif;
    font-size: 72px;
    font-weight: 700;

}

.landing-content .landing-text {
    width: 800px;
    color: white;
    font-family: "Mona Sans", sans-serif;
    margin-top: 10px;
    font-size: 80px;
    font-weight: 700;
    margin-left: -28px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

}

.flip-text {
    color: white;
    font-family: "Mona Sans", sans-serif;
    font-weight: 700;
    font-size: 80px;
    display: inline-block;
    width: 170px;
    text-align: center;
    transition: transform 0.6s ease-in-out, opacity 0.6s ease-in-out, filter 0.6s ease-in-out;
    transform-origin: center;
    white-space: nowrap;
}


.flip {
    transform: rotateX(90deg);
    opacity: 0;
    filter: blur(5px);
}

.landing-p {
    color: white;
    font-family: "Mona Sans", sans-serif;
    font-size: 80px;
    align-items: center;
    justify-content: center;
    width: 570px;
    margin-left: 250px;
}

.p-text {
    font-family: "Mona Sans", sans-serif;
    font-weight: 400;
    font-size: 18px;
}

.p-text-overflow {
    font-family: "Mona Sans", sans-serif;
    margin-left: 75px;
    font-size: 18px;

}

.button {
    width: 412px;
    display: flex;
    gap: 12px;
    margin-top: 75px;
    margin-left: 320px;
}

.button button {

    width: 200px;
    height: 60px;
    border-radius: 50px;
    font-family: "Mona Sans", sans-serif;
    font-size: 20px;
    font-weight: 700;

}

.button .forSale {
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    background: rgba(0, 0, 0, 0.1);
    border-color: #007bff;


}

.button .forSale:hover {
    background: #1563DF;
    border-color: #007bff;
}

.button .forRent {
    outline: none;
    border: none;
    background: #1563DF;
}

.filter-section {
    z-index: 200;
    background-color: whitesmoke;
    margin-top: 20px;
    width: 100%;
    align-items: center;
    justify-content: center;
    height: 115px;
    border-radius: 90px;
    display: flex;
    gap: 60px;

}

.filter1 {
    width: 200px;
    height: 90px;
    border-right: 1px solid gray;

}

.filter2 {

    width: 200px;
    height: 90px;

    border-right: 1px solid gray;
}

.filter3 {
    width: 200px;
    height: 90px;
    border-right: 1px solid gray;
}

.filter4 {
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 90px;
}

.filter-section input {
    width: 95%;
    height: 60%;
    margin-top: 16px;

}

.filter3 input {
    margin-left: -30px;

}

.types {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: auto;

}

.types select {
    width: 200px;
    height: 50px;
    margin-left: -70px;
    background: transparent;
    border: none;
    outline: none;
    font-family: "Mona Sans", sans-serif;
    font-size: 18px;
    font-weight: 500;
    margin-top: 10px;

}

.types option {
    font-family: "Mona Sans", sans-serif;
    font-weight: 400;
    border: none;
    outline: none;

}

.types label {
    margin-top: 10px;
    margin-right: 226px;
    font-family: "Mona Sans", sans-serif;
    font-weight: 210;
    font-size: 16px;
    letter-spacing: 1px;
}

.range-min input {
    margin-top: 20px;
    width: 190px;
    height: 50px;
    border-radius: 230px;
    border: 1px solid gray;
    margin-left: -26px;
    padding-left: 16px;
    outline: none;
}

.range-min input::placeholder {
    color: black;
    font-family: "Mona Sans", sans-serif;
    font-weight: 500;
    font-size: 16px;
    margin-right: -10px;
}

.filter2 input {
    margin-top: 20px;
    width: 190px;
    height: 50px;
    border-radius: 230px;
    border: 1px solid gray;
    margin-left: -35px;
    padding-left: 16px;
    outline: none;
}

.filter2 input::placeholder {
    font-family: "Mona Sans", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: black;
}

.advanced-search {
    width: 100%;
    height: 100%;
}

.advanced-search .search {
    margin-top: 13px;
    width: 100%;
    height: 70%;
    border-radius: 30px;
    outline: none;
    border: none;
    font-family: "Mona Sans", sans-serif;
    font-size: 18px;
    font-weight: 500;
    background-color: #1563DF;
    transition: ease-in 250ms;
}

.advanced-search .search:hover {
    background: #0654a6;

}

.modal {
    width: 1080px;
    height: 240px;
    margin-top: 20px;
    border-radius: 30px;
    background: rgba(255, 255, 255, 0.1); /* Semi-transparent white background */
    backdrop-filter: blur(10px);
    align-items: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Soft shadow for depth */

    justify-content: center;
    display: flex;
    gap: 60px;
}

.modal-advanced {
    margin-top: 15px;
    width: 100%;
    height: 180px;
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.3); /* Semi-transparent white background */
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Soft shadow for depth */

    display: flex;
    gap: 60px;
}

.modal-left {
    width: 515px;
    height: 100%;
    display: flex;
    gap: 20px;

}

.modal-right {
    width: 515px;
    height: 100%;
    display: flex;
    gap: 20px;
}

.modalLeft-left {
    width: 260px;
    height: 100%;
}

.modalLeft-right {
    width: 260px;
    height: 100%;
}

.modalRight-left {
    width: 260px;
    height: 100%;
}

.modalRight-right {
    width: 260px;
    height: 100%;
}

.county-i {
    background: rgba(255, 255, 255, 0.5);

    margin-left: 7px;
    width: 93%;
    height: 70px;
    border: 1px solid grey;
    outline: none;
    border-radius: 30px;
    padding-left: 14px;
    margin-top: 13px;

}

.subCounty-i {
    background: rgba(255, 255, 255, 0.5);
    margin-top: 13px;
    margin-left: 7px;
    width: 93%;
    height: 70px;
    border: 1px solid grey;
    outline: none;
    border-radius: 30px;
    padding-left: 14px;
}


.county-i::placeholder {
    font-family: "Mona Sans", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: black;
}

.subCounty-i::placeholder {
    color: black;
    font-family: "Mona Sans", sans-serif;
    font-weight: 500;
    font-size: 16px;
}

.subCounty {
    font-weight: bold;
    font-size: 20px;
    margin-top: 23px;
    margin-left: 79px;
}

.county {
    font-weight: bold;
    font-size: 20px;
    margin-top: 23px;
    margin-left: 96px;
}

.type-modal select {
    margin-left: 10px;
    width: 93%;
    height: 70px;
    outline: none;
    font-family: "Mona Sans", sans-serif;
    font-size: 18px;
    font-weight: 500;
    margin-top: 13px;
    border: 1px solid grey;
    border-radius: 30px;
    background: rgba(255, 255, 255, 0.5);


}

.type-p {
    font-weight: bold;
    font-size: 20px;
    margin-top: 23px;
    margin-left: 79px;


}

.max-p {
    font-weight: bold;
    font-size: 20px;
    margin-top: 23px;
    margin-left: 79px;

}

.max-i {
    background: rgba(255, 255, 255, 0.5);

    margin-left: -16px;
    width: 93%;
    height: 70px;
    border: 1px solid grey;
    outline: none;
    border-radius: 30px;
    padding-left: 14px;
    margin-top: 13px;
}

.max-i::placeholder {
    color: black;
    font-family: "Mona Sans", sans-serif;
    font-weight: 500;
    font-size: 16px;
}

.search-modal-btn {
    background-color: transparent;

    /*animation: bounceRight 1s ease-in-out infinite alternate;*/
}

@keyframes bounceRight {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(5px); /* Adjust the bounce distance */
    }
}

.test {
    position: absolute; /* or fixed */
    z-index: 1000; /* A high value to ensure it appears above other elements */
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.3); /* Semi-transparent white background */
    color: white;
    padding: 10px;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(3px);
    display: flex;
}

.close {
    margin-top: -630px;
    background-color: #007bff;
    margin-left: 500px;
    width: 40px;
    height: 40px;
    border-radius: 120px;
    transition: ease-in 0.1s;
    position: relative;
}
.close:hover {
    background-color: #0654a6;
}

.close p {
    font-size: 20px;
    margin-left: 13px;
    margin-top: 6px;
}





